.cell__button {
	display: block;
	min-width: 220px;
	min-height: 50px;
	border: 1px solid #F7931E;;
	background-color: transparent;
	transform: skewX(-30deg);
	font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #F7931E;
	cursor: pointer;
	margin: 0 auto 30px;
}

.cell__button:hover {
	background: #F7931E;
	color: #FFFFFF;
}