.header__link {
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	margin-right: 40px;
	font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.header__link:last-of-type {
	margin-right: 0;
}

.header__link:hover {
	color: #F7931E;
}